<div class='container'>
    <div>
        <h1>Мач на пияниците</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Дерби
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="item in items" class="list-group-item"
                           ng-class="selectedItem == item ? 'active' : ''"
                           ng-click="selectItem(item)">
                            {{ item.date }}
                        </a>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="newItem()">Новo</button>
                    <button ng-disabled="!selectedItem" type="button" class="btn btn-warning" ng-click="deleteDate(selectedItem.date)">Изтрии</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-show="selectedItem">
                <div class="panel-heading">
                    Участници
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                        <input type="text" ng-model="persionName" typeahead="name for name in names | filter:$viewValue | limitTo:8" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" ng-click="newPerson(persionName)">Добави</button>
                        </div>
                    </div>
                    &nbsp;
                    <div class="list-group">
                        <a ng-repeat="item in selectedItem.items" class="list-group-item"
                           ng-class="selectedPerson == item ? 'active' : ''"
                           ng-click="selectPerson(item)">
                            {{ item.name }}
                        </a>
                    </div>

                    <button ng-disabled="!selectedPerson" type="button" class="btn btn-warning" ng-click="deletePerson(selectedPerson)">Изтрии избрания</button>
                </div>
            </div>
        </div>
    </div>
</div>