<div class='container'>
    <div>
        <h1>Мач на пияниците</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Легенда
                </div>
                <div class="panel-body">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"> - Сигурен</span>
                    &nbsp;
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"> - Несигурен</span>
                    &nbsp;
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> - Кликни за допълнителна информация</span>
                    &nbsp;
                    <span class="blue" aria-hidden="true">Играч с допълнителна информация</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Дерби
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a ng-repeat="item in items" class="list-group-item"
                           ng-class="selectedItem == item ? 'active' : ''"
                           ng-click="selectItem(item)">
                            {{ item.date }}
                        </a>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="newItem()">Новo</button>
                    <button ng-disabled="!selectedItem" type="button" class="btn btn-warning" ng-click="deleteDate(selectedItem.date)">Изтрий</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-show="selectedItem">
                <div class="panel-heading">
                    Участници <span style="float:right"><i style="color: green">Сигурни: {{ surePersons() }}</i></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" ng-model="persionName" typeahead="name for name in names | filter:$viewValue | limitTo:8" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" ng-click="newPerson(persionName)">Добави</button>
                        </div>
                    </div>
                    &nbsp;
                    <div class="list-group">
                        <span ng-repeat="person in selectedItem.items" class="list-group-item"
                           ng-class="{ 'active' : selectedPerson == person, 'blue' : person.note }"
                           ng-click="selectPerson(person)">
                            {{$index + 1}}.
                            <span class="glyphicon glyphicon-star-empty hoverPointer" aria-hidden="true" ng-hide="person.sure" ng-click="changeSure(person)"></span>
                            <span class="glyphicon glyphicon-star hoverPointer" aria-hidden="true" ng-show="person.sure" ng-click="changeSure(person)"></span>
                            {{ person.name }}
                            <span class="glyphicon glyphicon-info-sign hoverPointer" aria-hidden="true" ng-click="modifyPersonNote(person)"></span>
                        </span>
                    </div>

                    <button ng-disabled="!selectedPerson" type="button" class="btn btn-warning" ng-click="deletePerson(selectedPerson)">Изтрий избрания</button>

                </div>
            </div>
        </div>
    </div>
</div>