<!DOCTYPE html>
<html ng-app="sharedList">
<head>
  <title>Мач на пияниците</title>
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="libs/ng-lodash/build/ng-lodash.min.js"></script>

  <script type="text/javascript" src="javascripts/app.js?v=2"></script>
  <script type="text/javascript" src="javascripts/homeController.js?v=2"></script>
  <script type="text/javascript" src="javascripts/loginController.js?v=2"></script>
  <script type="text/javascript" src="javascripts/modalController.js?v=2"></script>
  <script type="text/javascript" src="javascripts/itemsService.js?v=2"></script>
</head>
<body>
<div ng-view>
</div>
</body>
</html>